<!DOCTYPE html>
<html>
<body>

<form action="" dir="rtl">
  <div class="container">
    <div class="row" style="background: border-box;border: 1px solid black">
      <div class="col-xs-12" style="background: burlywood;padding-top: 25px">
        <div class="col-lg-4 co-xs-12 col-lg-offset-8">
          <div class="panel">
            <div class="panel-body">
              <div class="form-group inout-fix input-with-icon-fix">
                <label>جستجو : </label>
                <input type="text"
                       class="form-control"
                       maxlength="25"
                       placeholder="جستجو در کالاها"
                       [(ngModel)]="searchproductItem"
                       name="productGroupListSearch"
                >
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10" style="background: blanchedalmond;border: 1px solid black;padding-top: 25px">
        <div class="col-lg-4 co-xs-12"
             *ngFor="let item of obj">
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
              <a>{{item.productname}}</a>
            </div>
            <div class="panel-body">

              <p>
                <img src="{{imagUrl}}" alt="">
              </p>
              <p>
                کد محصول : {{item.productid}}
              </p>
              <hr>
              <p>
                نام محصول : {{item.name}}
              </p>
              <hr>
              <p>
                مدل : {{item.modle}}
              </p>
              <hr>
              <p>
                رنگ : {{item.Color}}
              </p>
              <hr>
              <p>
                قیمت: {{item.price}}
              </p>
              <hr>
              <p>
                تخفیف: {{item.discount}}
              </p>
              <hr>
              <p *ngIf="item.hdmiport === true">
                HDMI: دارد
              </p>
              <p *ngIf="item.hdmiport !== true" class="text-danger">
                HDMI: ندارد
              </p>
              <hr>
              <p>
                قیمت برای شما: {{item.priceforyou}}
              </p>
              <hr>
              <p>
                گارانتی: {{item.Warranty}}
              </p>
              <hr>
              <p>
                مدت زمان گارانتی: {{item.Warrantyterms}}
              </p>
            </div>
            <div class="panel-footer">
              <button class="btn btn-success center-block">افزودن به سبد خرید</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2" style="background: gold;padding-top: 25px">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;کالا موجود
                </label>
              </div>
              <hr>
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;سامسونگ
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;ال جی
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;جی وی سی
                </label>
              </div>
              <hr>
              <label>پورت HDMI</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;دارد
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;ندارد
                </label>
              </div>
              <hr>
              <div class="checkbox">
                <label>
                  <input #HDMICheckBox
                         id="HDMICheckBox"
                         type="checkbox"
                         [checked]="HDMICheck"
                         (change)="HDMICheckBoxChanged(HDMICheckBox.checked)"
                         data-toggle="toggle">&nbsp;&nbsp;&nbsp;&nbsp;Test
                  <br>
                </label
                ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button" (click)="load()"></button>
</form>
</body>
</html>




